<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    TOBZ API's
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="https://tobz-api.herokuapp.com" class="simple-text logo-normal">
          TOBZ API's
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="./dashboard.html">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title "> Social Media</h4>
                  <p class="card-category"> All APIs about Social Media & Downloader</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Information
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Type
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Github Profile
                          </td>
                          <td>
                            Displays profile from github
                          </td>
                          <td>
                            username
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/githubprofile?username=tobyg74">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            2
                          </td>
                          <td>
                            Nhentai Downloader
                          </td>
                          <td>
                            Download doujin from Nhentai
                          </td>
                          <td>
                            id
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/nhentai?id=212121">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            3
                          </td>
                          <td>
                            Facebook Downloader
                          </td>
                          <td>
                            Download video from Facebook
                          </td>
                          <td>
                            url
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/facebook?url=https://www.facebook.com/watch/?v=1393572814172251">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            4
                          </td>
                          <td>
                            Youtube MP4 Downloader
                          </td>
                          <td>
                            Download video from Youtube
                          </td>
                          <td>
                            url
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/ytv?url=https://www.youtube.com/watch?v=BC6bHIbVP9I">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            5
                          </td>
                          <td>
                            Youtube MP3 Downloader
                          </td>
                          <td>
                            Download audio from Youtube
                          </td>
                          <td>
                            url
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/yta?url=https://www.youtube.com/watch?v=_vIDmHhIkqo">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            6
                          </td>
                          <td>
                            Display profile from Instagram
                          </td>
                          <td>
                            Download audio from Youtube
                          </td>
                          <td>
                            username
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/stalk?username=tobz2k19">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            7
                          </td>
                          <td>
                            Wikipedia
                          </td>
                          <td>
                            Displays the meaning of a word
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/wiki?q=jokowi">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            8
                          </td>
                          <td>
                            KBBI
                          </td>
                          <td>
                            Displays the meaning of a word
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/kbbi?q=kucing">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            9
                          </td>
                          <td>
                            Dewabatch Scraper
                          </td>
                          <td>
                            Displays information from Anime
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/dewabatch?q=naruto">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            10
                          </td>
                          <td>
                            Kusonime Scraper
                          </td>
                          <td>
                            Displays information from Anime
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/kuso?q=Kanojo+okarishimasu">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            11
                          </td>
                          <td>
                            Neonime Scraper
                          </td>
                          <td>
                            Displays information from Anime
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/neonime?q=Danmachi">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            12
                          </td>
                          <td>
                            Anoboy Scraper
                          </td>
                          <td>
                            Displays information from Anime
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/anoboy?q=Danmachi">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            13
                          </td>
                          <td>
                            Bacakomik Scraper
                          </td>
                          <td>
                            Displays information from Manga
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/bacakomik?q=Dungeon">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            14
                          </td>
                          <td>
                            Kiryuu Scraper
                          </td>
                          <td>
                            Displays information from Manga
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/bacakomik?q=Demon">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            15
                          </td>
                          <td>
                            Neonime Last Updated
                          </td>
                          <td>
                            Displays information from Anime
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/neolast">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            16
                          </td>
                          <td>
                            Anoboy Last Updated
                          </td>
                          <td>
                            Displays information from Anime
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/anolast">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            17
                          </td>
                          <td>
                            Random Quotes
                          </td>
                          <td>
                            Displays random quotes
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/randomquotes">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            18
                          </td>
                          <td>
                            Random Loli
                          </td>
                          <td>
                            Displays random loli pictures
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/randomloli">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            19
                          </td>
                          <td>
                            Random Waifu
                          </td>
                          <td>
                            Displays random waifu pictures
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/waifu">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            20
                          </td>
                          <td>
                            Random Nekonime
                          </td>
                          <td>
                            Displays random nekonime pictures
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/nekonime">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            21
                          </td>
                          <td>
                            Random Anime
                          </td>
                          <td>
                            Displays random anime pictures
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/randomanime">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            22
                          </td>
                          <td>
                            Random Hentai
                          </td>
                          <td>
                            Displays random hentai pictures
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/hentai">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            23
                          </td>
                          <td>
                            Random NSFW Neko
                          </td>
                          <td>
                            Displays random nsfwneko pictures
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/neolast">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            24
                          </td>
                          <td>
                            Random NSFW Trap
                          </td>
                          <td>
                            Displays random nsfw trap pictures
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/nsfwtrap">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            25
                          </td>
                          <td>
                            Random NSFW Blowjob
                          </td>
                          <td>
                            Displays random nsfw blowjob gif
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/nsfwblowjob">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            26
                          </td>
                          <td>
                            Random Anime Hug
                          </td>
                          <td>
                            Displays random anime hug gif
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/hug">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            27
                          </td>
                          <td>
                            Random Anime Kiss
                          </td>
                          <td>
                            Displays random anime kiss gif
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/kiss">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            28
                          </td>
                          <td>
                            Random Anime Cry
                          </td>
                          <td>
                            Displays random anime cry gif
                          </td>
                          <td>
                            othing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/cry">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            29
                          </td>
                          <td>
                            Writing in book
                          </td>
                          <td>
                            Displays the results of writing in books
                          </td>
                          <td>
                            text
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/nulis?text=halo">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            30
                          </td>
                          <td>
                            Text to Image
                          </td>
                          <td>
                            Displays text to image conversion
                          </td>
                          <td>
                            text
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/ttp?text=halo">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            31
                          </td>
                          <td>
                            Neon Light
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=neon_light&text=Tobz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            32
                          </td>
                          <td>
                            Glitch
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text1 & teks2
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=glitch&text1=Tobz&text2=Ganz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            33
                          </td>
                          <td>
                            Ninja Logo
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text1 & teks2
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=ninjalogo&text1=Tobz&text2=Ganz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            34
                          </td>
                          <td>
                            Wolf Logo 1
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text1 & teks2
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=wolflogo1&text1=Tobz&text2=Ganz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            35
                          </td>
                          <td>
                            Wolf Logo 2
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text1 & teks2
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=wolflogo2&text1=Tobz&text2=Ganz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            36
                          </td>
                          <td>
                            Lion Logo
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text1 & teks2
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=lionlogo&text1=Tobz&text2=Ganz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            37
                          </td>
                          <td>
                            Ninja Logo
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=jokerlogo&text=Tobz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            38
                          </td>
                          <td>
                            Dropwater
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=dropwater&text=Tobz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            39
                          </td>
                          <td>
                            Blood
                          </td>
                          <td>
                            Create an image from Textpro
                          </td>
                          <td>
                            text
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/textpro?theme=blood&text=Tobz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            40
                          </td>
                          <td>
                            Weather Information
                          </td>
                          <td>
                            Displays information about the weather
                          </td>
                          <td>
                            wilayah
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/cuaca?wilayah=jakarta">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            41
                          </td>
                          <td>
                            Earthquake Information
                          </td>
                          <td>
                            Displays information about earthquakes
                          </td>
                          <td>
                            Nothing
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/infogempa">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            42
                          </td>
                          <td>
                            Movie Information 1
                          </td>
                          <td>
                            Displays information about movies
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/film?q=cars%203">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            43
                          </td>
                          <td>
                            Movie Information 2
                          </td>
                          <td>
                            Displays information about movies
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/film2?q=cars">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            44
                          </td>
                          <td>
                            Spam Call
                          </td>
                          <td>
                            Send a Call to someone
                          </td>
                          <td>
                            no
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/spamcall?no=82111342213">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            45
                          </td>
                          <td>
                            Spam Gmail
                          </td>
                          <td>
                            Send Spam to gmail
                          </td>
                          <td>
                            target & jum
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/spamgmail?target=hahaha@gmail.com&jum=5">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            46
                          </td>
                          <td>
                            Webshite Sreenshot
                          </td>
                          <td>
                            Take a photo view from the website
                          </td>
                          <td>
                            url
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/screenshotweb?url=https://github.com/TobyG74">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            47
                          </td>
                          <td>
                            Guitar Chord
                          </td>
                          <td>
                            Find the guitar chord
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/chord?q=semua%20tentang%20kita">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            48
                          </td>
                          <td>
                            Prayer Schedule
                          </td>
                          <td>
                            Displays information about prayer schedules
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/jadwalshalat?q=Jakarta">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            49
                          </td>
                          <td>
                            Simsimi
                          </td>
                          <td>
                            Chat with Simsimi
                          </td>
                          <td>
                            text
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/simsimi?text=halo">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            50
                          </td>
                          <td>
                            Joox
                          </td>
                          <td>
                            Search music on Joox
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/joox?q=akad">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            50
                          </td>
                          <td>
                            World Clock
                          </td>
                          <td>
                            Displays World Clock
                          </td>
                          <td>
                            lokasi
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/jamdunia?lokasi=jakarta">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            51
                          </td>
                          <td class="FF5000">
                            The Meaning of the Name
                          </td>
                          <td>
                            Displays the meaning of a name
                          </td>
                          <td>
                            q
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/artinama?q=tobz">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            52
                          </td>
                          <td>
                            BitLy
                          </td>
                          <td>
                            Shortens Url in bitly
                          </td>
                          <td>
                            url
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/bitly?url=https://github.com/TobyG74/ElainaBOT">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                        <tr>
                          <td>
                            53
                          </td>
                          <td>
                            Tinyurl
                          </td>
                          <td>
                            Shortens Url in tinyurl
                          </td>
                          <td>
                            url
                          </td>
                          <td class="text-online">
                            Online
                          </td>
                          <td class="text-primary"><a href="https://tobz-api.herokuapp.com/api/tinyurl?url=https://github.com/TobyG74/ElainaBOT">
                            <h4><small>Example</small><h4>
                          </a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://github.com/TobyG74">
                  Copyright
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Thanks <i class="material-icons">favorite</i>
            <a href="https://www.creative-tim.com" target="_blank">MelodicXT</a> - Rafly, Nugra, MRHRTZ
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Filters</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger active-color">
            <div class="badge-colors ml-auto mr-auto">
              <span class="badge filter badge-purple" data-color="purple"></span>
              <span class="badge filter badge-azure" data-color="azure"></span>
              <span class="badge filter badge-green" data-color="green"></span>
              <span class="badge filter badge-warning" data-color="orange"></span>
              <span class="badge filter badge-danger" data-color="danger"></span>
              <span class="badge filter badge-rose active" data-color="rose"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Images</li>
        <li class="active">
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-1.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-2.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-3.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-4.jpg" alt="">
          </a>
        </li>
        <li class="button-container">
          <a href="https://github.com/TobyG74" target="_blank" class="btn btn-primary btn-block">Github</a>
        </li>
        <li class="button-container">
          <a href="https://wa.me/6281311850715" target="_blank" class="btn btn-primary btn-block">Whatsapp</a>
        </li>
        <li class="button-container">
          <a href="https://instagram.com/Tobz2k19" target="_blank" class="btn btn-primary btn-block">Instagram</a>
        </li>
        <li class="button-container">
          <a href="https://facebook.com/Tobz2k19" target="_blank" class="btn btn-primary btn-block">Github</a>
        </li>
        <!-- <li class="header-title">Want more components?</li>
            <li class="button-container">
                <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
                  Get the pro version
                </a>
            </li>
        <li class="header-title">Thank you for 95 shares!</li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
          <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
          <br>
          <br>
        </li> -->
      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--  Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>

</html>