
<!DOCTYPE html>
<html lang="id">
    <head>
        <title>TOBZ API</title>
        <!DOCTYPE html>
<html>
<head>
  <title>Contoh Internal CSS</title>
  <!-- penulisan internal css dalam tag head -->
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
</head>

<body>
  <script>
var time = new Date();
console.log(time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds());
  </script>
  <!-- penulisan internal css dalam tag body -->
  <h2>Ini judul artikel</h2>
  <p>Ini adalah paragraf yang memuat isi artikel. Paragraf ini hanya untuk percobaan saja. Percobaan untuk mendemokan <i>internal css</i>. Seperti namanya, <i>inline CSS</i> adalah kode CSS yang ditulis langsung dalam file HTML.</p>
</body>
</html>
    </body>
</html>