
<!DOCTYPE html>
<html lang="id">
    <head>
        <title>TOBZ API</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=0"/>
        <meta name="author" content="TOBZ"/>
        <meta name="description" content="404">
        
      <link rel="stylesheet" href="/templates/.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:700">
        <audio autoplay="autoplay" hidden="hidden" src="http://www.jplayer.org/audio/mp3/Miaow-snip-Stirring-of-a-fool.mp3"></audio>
    </head>
    <body>
      <main>
            <div>
              <div>
                <span>404&nbsp;error</span>
                <span>page&nbsp;not&nbsp;found</span>
              </div>
              <svg viewBox='0 0 200 600'>
                <polygon points='118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 200 591.044514 200 8'></polygon>
              </svg>
            </div>
            <svg class='crack' viewBox='0 0 200 600'>
              <polyline points='118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514'></polyline>
            </svg>
            <div>
              <svg viewBox='0 0 200 600'>
                <polygon points='118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 0 591.044514 0 8'></polygon>
              </svg>
              <div>
                <span>sorry&nbsp;about&nbsp;that!</span>
                <span>
                  <a>
                    <b>return&nbsp;home?</b>
                  </a>
                </span>
              </div>
            </div>
          </main>
          </div>
        </div>
      </div>
    </body>
</html>